:root {
  --white: hsl(0, 0%, 100%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --tomato: hsl(4, 100%, 67%);
  --red: hsl(0, 81%, 50%);
}

* {
  margin: 0;
  font-family: "Roboto-Regular";
  font-weight: 400;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

body p {
  font-size: 16px;
}

main {
  display: grid;
  place-items: center;
  background-color: var(--charcoal-grey);
  min-height: inherit;
  min-width: inherit;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

label[for="email"] {
  font-size: small;
  font-weight: 700;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 1;
}

button[disabled] {
  opacity: 0.2;
}

.attribution {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: var(--white);
}

.card {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  max-width: 60rem;
  min-width: 20rem;
  max-height: 100%;
}

.image {
  background-image: url(./assets/images/illustration-sign-up-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 5rem;
  max-width: 40rem;
  width: 30rem;
  height: inherit;
  /* border-radius: 1rem; */
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
  gap: 2rem;
  flex-grow: 1;
}

.content ul {
  list-style-image: url(./assets/images/icon-list.svg);
  list-style-type: disc;
  line-height: 2rem;
  margin-left: -1rem;
}

.content li {
  padding-left: 1rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error {
  border-style: solid;
  border-color: var(--red);
  border-width: 2px;
}

#email {
  min-height: 3rem;
  max-height: 4rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

#subscribe {
  background-color: var(--dark-slate-grey);
  color: var(--white);
  border-radius: 0.5rem;
  border-style: none;
  min-height: 3rem;
  max-height: 4rem;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 950px)  {

  .card {
    display: grid;
    grid-template-rows: auto auto;
    border-radius: unset;
    padding: unset;
    height: 100%;
  }

  .image {
    background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    border-radius: unset;
  }

  .content {
    grid-row-start: 2;
    padding: 1rem;
  }
}
